body
{
	background-color:white;
	width:95%;
	margin:0 auto;
}

.mystyle{
	background-image:url('img/seatreserved.png');
}

.mySiteHeader{
	background-color:white;
	width : 106%;
		
	font-family:verdana;
	font-size:55px;
	color:white;
	padding:30px 0px 0px 5px;
}

.footer{
	font-size:10px;
width : 106%;
	font-family:verdana;
	padding:25px 0px 25px 0px;
	background-color:#3385ff;
}

.headerShadow{
	text-shadow:5px 5px 15px black;
}

.headerShadow:hover{
	text-shadow:1px 1px 8px black;
	transition:0.3s;
}

.shadowFooter:hover{
	text-shadow:1px 1px 5px white;
	transition:0.3s;
}

ul
{
	list-style:none;
	height:60px;
	width : 99%;
	background-color:white;
}

ul li {	
	background-color:black;
	width:19.5%;
	border:1px ;
	height:60px;
	line-height:55px;
	text-align:center;
	float:left;
	color:white;
	font-size:22px;
}

ul li a{
	text-decoration:none;
	color : white;
	display : block;
	transition:0.4s;
}

ul li a:hover{
	//text-decoration:bold;
	color : black;
	display : block;
	background-color :white;
	transition:0.8s;
}

select {
	width: 330px;
	padding: 13px 20px;
	border-radius: 4px;
	font-size:18px;
	border:1px solid #3385ff;
	transition:0.4s;
}
	color:white;

select:hover{
	border:1px solid black;
	transition:0.4s;
	color:blue;
}

.indexCal{
	width:330px;
	padding:10px 10px;
	font-family:verdana;
	border-radius: 4px;
	border:1px solid #3385ff;
	transition:0.4s;
}

.indexCal:focus{
	background-color:darkwhite;
	border:1px solid black;
	transition:0.4s;
}

.indexCal:hover{
	background-color:darkwhite;
	border:1px solid black;
	transition:0.4s;
}

.btnCheckBus:focus{
	background-color:#002141;
	color:white;
	transition:0.4s;
	border:2px solid #3385ff;
}

.btnCheckBus{
	font-size:20px;
	background-color:white;
	border-radius:4px;
	border:solid silver;
	width:330px;
	border:none;
	padding:10px 10px;
	border:2px solid #3385ff;
	transition:0.4s;
}

.btnCheckBus:hover{
	background-color:#3385ff;
	color:black;
	border:1px solid black;
	transition:0.4s;
	border:2px solid #3385ff;
}

.welcomeSite{
	font-family:verdana;
	font-size:30px;
	text-shadow:0px 0px 5px blue;
	transition:0.4s;
}

.tblBusSchedule{
	border:1px solid black;
}

.tblSchHover{
	font-size:15px;
	font-family:verdana;
	text-align:center;
}

.bookNw{
	color:red;
}

.bookNw:hover{
	color:blue;
}

.myBranch:hover{
	background-color:blue;
}